@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
}



html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;

    background-color: rgb(255, 255, 255);
    font-family: Museo Sans, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

main {
    margin-top: 60px;
}



.title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}



.header-flex {
    margin-top: 60px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.search__form-block {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

}

.search__form-head {
    font-size: 20px;
    font-weight: 700;
}


#select-movie {
    font-size: 14px;
    margin-right: 40px;
}

.tv-shows__head {
    margin: 15px 0;
}

.tv-shows__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 185px);
    grid-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.tv-shows__item {
    min-width: 185px;
    margin: 15px 10px 30px;
}

.tv-card {
    position: relative;
    max-width: 185px;
    min-height: 370px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, .75);
    box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, .75);
} */

.tv-card__head {
    padding: 15px 15px 0;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 900; 
} 


.tv-card__img {
    height: 278px;
    width: 185px;
} 



@media (max-width: 1024px) {
    .container {
        padding: 0 60px;
    }

	.cross {
		top: 0;
		right: 0;
	}
}

@media (max-width: 794px) {
    .header-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .search {
        width: 100%
    }

    .tv-shows__list {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

	.image__content {
		position: static;
		margin: 0 auto;
	}


}

@media (max-width: 655px) {
    .original__header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .poster__wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 555px) {
    .tv-shows__item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin: 15px auto;
    }


}

@media (max-width: 400px) {
    .container {
        padding: 0 30px;
    }
    .title {
        font-size: 42px;
    }
}
